<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>我的画板</title>
    <script type="text/javascript" src="/socket.io/socket.io.js" ></script>

    <script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="js/myCanvas.js"></script>
    <script type="text/javascript" src="http://pv.sohu.com/cityjson?ie=utf-8" charset="gb2312"></script>       <!--获取接口数据，注意charset -->
    <!--[if lte IE 8]>
    <style>.main {
        display: none;
    }

    .support-note .note-ie {
        display: block;
    }</style><![endif]-->

</head>


<body id="body">


<div>
    <h1><%= title %> <span id="count"></span></h1>
    <h1>聊天：<b><span id="time"></span></b></h1>
    <p>Welcome to <%= title %></p>
    <input type="text" id="sendData"/>
    <button onclick="sendMyData()">发送</button>
</div>
<br/>
<button onclick="applyDraw();">申请画图</button>
<br/>
<canvas id="canvas" width="600" height="300" style="background: #111;">
    浏览器不支持哦，亲
</canvas>
<br/>
<button style="width:80px;background-color:yellow;" onclick='setLineColor("yellow");'>YELLOW</button>
<button style="width:80px ;background-color:red;" onclick='setLineColor("red");'>RED</button>
<button style="width:80px ;background-color:blue;" onclick='setLineColor("blue");'>BLUE</button>
<button style="width:80px ;background-color:green;" onclick='setLineColor("green");'>GREEN</button>
<button style="width:80px ;background-color:white;" onclick='setLineColor("white");'>WHITE</button>
<button style="width:80px ;background-color:black;" onclick='setLineColor("black");'>BLACK</button>
<br/>

<button style="width: 80px;background-color: white;" onclick="setLineSize(4);">4PX</button>
<button style="width: 80px;background-color: white;" onclick="setLineSize(8);">8PX</button>
<button style="width: 80px;background-color: white;" onclick="setLineSize(16);">16PX</button>
<br/>

<button style="width: 80px;background-color: white;" onclick="myCanvas.copyimage();">EXPORT</button>
<button style="width: 80px;background-color: white;" onclick="clearCanvas();">CLEAR</button>

<br/>
<img src="" id="image_png" width="600px" height="300px">
<br/>

</body>
<script type="text/javascript" src="js/mySocket.js"></script>
</html>